    <!-- Source: https://html.spec.whatwg.org/multipage/sections.html#the-footer-element -->


    <script src="/scripts/navbar.js">

    </script>
    <script src="/scripts/landing.js">

    </script>
    <!-- Script -->
    <script src="/scripts/events.js"></script>
    <!-- <script src="/scripts/hexagons.js"></script> -->

    <script src="/scripts/sandwich_menu.js"></script>


</body>
</html>