    <!-- Source: https://html.spec.whatwg.org/multipage/sections.html#the-footer-element -->

    <footer id="footer">
        <nav id="footer-nav-links-container">
            <ul>
                <h4>plants</h4>
                <li> <a href="/plants">view</a>
                <li> <a href="/plants/create">add</a>
   
            </ul>
            <ul>
                <h4>plant keys</h4>
                <li><a href="/plants/keys">keys</a>
                <li> <a href="/plants/keys/create">upload</a>
            </ul>
            <ul>
                <h4>user</h4>
                <li> <a href="/login">login</a>
                <li> <a href="/feedback">register</a>
            </ul>
            <ul id="other-footer-links">
                <li> <a href="#About">About</a>
                <li> <a href="/feedback">Send feedback!</a>
                <li> <a href="/sitemap">Sitemap</a>
            </ul>

        </nav>
        <p id="copyright-info"><small>Copyright © Brendan Musick —
            <a href="#">Terms of Service</a></small>
        </p>
    </footer>

    <script src="/scripts/navbar.js">

    </script>
    <script src="/scripts/landing.js">

    </script>
    <!-- Script -->
    <script src="/scripts/events.js"></script>
    <!-- <script src="/scripts/hexagons.js"></script> -->

    <script src="/scripts/sandwich_menu.js"></script>
    <script src="/scripts/filter-form.js"></script>
</body>
</html>