
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ROOTED IN NATURE</title>

    <!-- HEADER -->
    <link rel="stylesheet" href="/stylesheets/landing.css">
    
    <!------------------------------- HEADER/FOOTER --------------------------->
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">


    <!------------------------------- BUTTONS --------------------------->
    <link rel="stylesheet" href="/stylesheets/buttons.css">

    <!------------------------------- FORMS --------------------------->
    <link rel="stylesheet" href="/stylesheets/form.css">

    <!-- Search bar -->
    <link rel="stylesheet" href="/stylesheets/partials/search-bar.css">

    <!------------------------ PLANT STYLESHEETS ------------------------------->
    <link rel="stylesheet" href="/stylesheets/plants/show.css">
    <link rel="stylesheet" href="/stylesheets/plants/index.css">
    <link rel="stylesheet" href="/stylesheets/plants/dropdown.css">

    <!-- PLANT KEYS -->
    <link rel="stylesheet" href="/stylesheets/plants/keys/index.css">
    <link rel="stylesheet" href="/stylesheets/plants/keys/family_keys.css">


</head>

<body>
    <header>
        <div class="page-header">(RootedInNature)<sup>2</sup></div>
        <svg width="100vw" height="260px" id="navbar-svg">

        </svg>
        <nav class="navbar">
            <div id="navbar-links" class="navbar-links">
                <div class="right-links">
                    <%if(!currentUser){%>
                        <a href="/login" class="">Login</a>
                        <a href="/register" class="">Register</a>
                    <%}else{%>
                        <a id="signed-in-text">Signed In As '<%=currentUser.username%>'</a>
                        <a href="/logout" class="">Logout</a>
                    <%}%>
                </div>
            </div>
        </nav>
    </header>




