
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ROOTED IN NATURE</title>

    <!-- HEADER -->
    <link rel="stylesheet" href="/stylesheets/landing.css">
    
    <!------------------------------- HEADER/FOOTER --------------------------->
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">

</head>

<body>
    <div class="page-header">(RootedInNature)<sup>2</sup></div>
    <svg width="100vw" height="260px" id="navbar-svg">

    </svg>
    <nav class="navbar">
        <div class="navbar-links">
            <div class='navbar-item-container'><a href="/">
                    <div class="navbar-item">Home</div>
                </a></div>
            <div class='navbar-item-container'>
                <a>
                    <div class="navbar-item" id="navbar-plants">
                        Plants
                    </div>
                </a>
                <div id="plant-dropdown" class="dropdown-hidden">
                    <a href="/plants/new">
                        <div class="p-item dropdown-item-hidden">create</div>
                    </a>
                    <a href="/plants">
                        <div class="p-item dropdown-item-hidden">view</div>
                    </a>
                    <a href="/plants/keys">
                        <div class="p-item dropdown-item-hidden">keys</div>
                    </a>
                    <a href="/plants/groups">
                        <div class="p-item dropdown-item-hidden">groups</div>
                    </a>
                    <a href="/plants/families">
                        <div class="p-item dropdown-item-hidden">families</div>
                    </a>
                </div>
            </div>
            <div class='navbar-item-container'><a>
                    <div class="navbar-item" id="navbar-math">Math</div>
                    </a>
                    <div id="math-dropdown" class="dropdown-hidden">
                        <a href="/math/statistics">
                            <div class="m-item dropdown-item-hidden">STATISTICS</div>
                        </a>
                        <a href="/math/calculus">
                            <div class="m-item dropdown-item-hidden">CALCULUS</div>
                        </a>
                        <a href="/math/linear-algebra">
                            <div class="m-item dropdown-item-hidden">LINEAR ALGEBRA</div>
                        </a>
                    </div>
                </div>
            <div class="right-links">
                <a href="/login" class="">Login</a>
                <a href="/register" class="">Register</a>
                <a href="/logout" class="">Logout</a>
            </div>


        </div>


    </nav>




