<div id="fold-down-menu-icon-nav"><i class="fa fa-bars"></i></div>

<div class="sandwich_menu" id="nav-bar-items">
    <div id="nav-list">
        <a class="nav-link" href="#rootedInNature">Home</a>
        <a class="nav-link" href="#rootedInNature">About</a>
        <a class="nav-link" href="#rootedInNature">Contact</a>
        <a class="nav-link" href="#rootedInNature">Plants</a>
        <a class="nav-sublink" href="#rootedInNature">Create</a>
        <a class="nav-sublink" href="#rootedInNature">View</a>
        <a class="nav-sublink" href="#rootedInNature">Keys</a>
        <a class="nav-link" href="#rootedInNature">Math</a>
        <a class="nav-link" href="#rootedInNature">Science</a>





      
    </div>
</div>