<%- include('partials/header') %>
    <div id="landing-page-container">
        <section id="quote-section">
            <blockquote>
                <p>
                    "We live in a society exquisitely dependent on science and technology, in which hardly anyone knows anything about
                    science and technology."
                </p>
            </blockquote>
            <cite>- Carl Sagan</cite>

        </section>
        <!-- <section id="about" class="hidden-section">
            <p>
                This page is cool
            </p>
        </section> -->
        <section id="about" class="">
            <h1>About</h1>
            <p>
                
            </p>
        </section>
        <footer id="footer">
            <nav>
                <ul>
                    <li> <a href="/about">About</a>
                    <li> <a href="/feedback">Send feedback!</a>
                    <li> <a href="/sitemap">Sitemap</a>
                </ul>
            </nav>
            <p><small>Copyright © Brendan Musick —
                    <a href="#">Terms of Service</a></small></p>
        </footer>
    
<%- include('partials/footer') %>   