<%- include('partials/header') %>
    <main id="landing-page-container">
        <section id="quote-section">
            <blockquote>
                <p>
                    "We live in a society exquisitely dependent on science and technology, in which hardly anyone knows anything about
                    science and technology."
                </p>
            </blockquote>
            <cite>- Carl Sagan</cite>

        </section>
        <!-- <section id="about" class="hidden-section">
            <p>
                This page is cool
            </p>
        </section> -->
        <section id="about" class="">
            <h1>About</h1>
            <p>
                
            </p>
        </section>
    </main>    
<%- include('partials/footer') %>   