<%- include('partials/header') %>
    <main id="landing-page-container">
        <section id="quote-section" class="landing-page-section">
            <blockquote>
                <p>
                    "We live in a society exquisitely dependent on science and technology, in which hardly anyone knows anything about
                    science and technology."
                </p>
            </blockquote>
            <cite>- Carl Sagan</cite>

        </section>
        <!-- <section id="about" class="hidden-section">
            <p>
                This page is cool
            </p>
        </section> -->
        <section id="about" class="landing-page-section">
            <h1>About</h1>
            <p>
                This website was created to try and bring together all the different
                topics in science and see how they intertwine. There are a few main sections of this website:
            </p>
        </section>
        <section id="navigating" class="landing-page-section">
            <div>
                <h3>Plants</h3>

                <div id="plant-navigation-info-container">
                    <div class="plant-nav-item">
                        <i class="fa fa-solid fa-leaf"></i>
                        <h3>keep track of collected plants</h3>
                        <p>
                            Users are able to add a plant they collected to their collection.
                        </p>
                    </div>
                    <div class="plant-nav-item">
                        <i class="fa fa-solid fa-key"></i>
                        <h3>use and create plant keys</h3>
                        <p>
                        
                        </p>
                    </div>
                    <div class="plant-nav-item">
                        <i class="fa fa-sharp fa-solid fa-trophy"></i>
                        <h3>obtain achievements</h3>
                        <p>
                        
                        </p>
                    </div>
                    <div class="plant-nav-item">
                        <i class='fas fa-user-circle'></i>
                        <h3>user account</h3>
                        <p>
                    
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <h3>Math</h3>
            </div>
        </section>
    </main>    
<%- include('partials/footer') %>   