/************** Back Button *******/
.back-button {
    margin-left: 20px;
    color: var(--navy-blue) !important;
    font-size: 1em;
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px;
}

.back-button:hover {
    font-weight: bold;
    border: 2px solid var(--navy-blue) !important;
}