:root {
    --font: #05386b;
    --page-background: #5cdb95;
}

#landing-page-container {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-image: url('https://i.imgur.com/YYFuJvr.jpg?1'); */
    background-color: var(--page-background);
    background-size: cover;
}

.rectangle {
    height: 10px;
    background-color: var(--font);
    position: relative;
}

#landing-main-page {
    position: absolute;
    bottom: 230px;
    left: 30px;
    font-family: 'VT323', monospace;
    font-size: 50px;
    color: var(--font);
}

#quote-section{
    color: var(--font);
    padding: 10%;
    font-size: 2.5vw;
}

.hidden-section{
    display:none;
}