body{
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    overflow: auto;
    /* padding-bottom: 1vh; */
    /* must be same height as the footer */
    min-height: 40%;
}

#landing-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-image: url('https://i.imgur.com/YYFuJvr.jpg?1'); */
    background-color: var(--medium-green);
    background-size: cover;
}

.rectangle {
    height: 10px;
    background-color: var(--beige);
    position: relative;
}

#landing-main-page {
    position: absolute;
    bottom: 230px;
    left: 30px;
    font-size: 50px;
    color: var(--beige);
}

#quote-section{
    color: var(--beige);
    padding: 7%;
    font-size: 35px;
}

.hidden-section{
    display:none;
}

#plant-navigation-info-container{
    display: flex;
    justify-content: space-evenly;
}

.plant-nav-item{
    flex: 1;
    padding: 7em;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-transform: capitalize;
}

.plant-nav-item i{
    font-size: 50px;
}