body{
    width: 100vw;
    height: 100vh;
    background-color: var(--medium-green);
}

#plant-family-key-container{
    /* Container for the entire plant key */
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#key-page-title{
    align-self: baseline;
    width: fit-content;
    padding-right: 1em;
    border-radius: 0px 50px 50px 0px;
}
#key-choice-container{
    /* Contain the two individual choices of the plant key */
    width: 500px;
}

.key-choice{
    /* Individual choice container for binomial key */
    margin-top: 1.1em;
    padding: 1em;
    background-color: var(--navy-blue);
    color: var(--beige);
    border-radius: 25px 25px 25px 25px;
}

.key-choice a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 3px;
    margin-top: 1px;
}
.next-button{
    padding: 2px 5px;
    border-radius: 10px;
    margin-top: 1px;
    background-color: var(--dark-green);
    color: white;
}

/********************** Tooltip **********************/
.tooltip:hover:after {
    content: attr(title);
}

.tooltip {
    /* https://aninnovativeweb.tumblr.com/post/820491172/semantic-tooltips-with-pure-css3-and-html5 
    https://www.scriptol.com/css/tooltip.php*/
    border-bottom: 1px dotted rgb(235, 229, 229);
    position: relative;
    cursor: pointer;
}

.tooltip span {
    display:none;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    color:black;
    background:var(--hover-font); 
    }

.tooltip:hover span {
    display:block;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    width:200px;
    height: inherit;
    min-width: 100px;
    max-width:320px;
    min-height:40px;
    border:1px solid black;
    margin-top:12px;
    margin-left:32px;
    overflow:hidden;
    padding:8px;
    background-color: aliceblue;
}

.tooltip span img {
    float:right;
    position: relative;
    right: 5px;
    margin:0px 20px 8px 0;
    padding: 5px;
    width: 60px;
}
