#key-page-title {
    /* Title for the whole page */
    font-size: 1.5em;
    width: 8em;
    color: var(--beige);
    background-color: var(--navy-blue);
    margin-top: 0.9em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    padding-left: 1em;
    text-transform: capitalize;
}

#key-page-container {
    /* Main container for the keys below the header */
    --key-selection-background-color: darkgray;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-transform: capitalize;
}

.key-selection-title{
    /* Title of the type of key */
    font-size: 1em;
}

.key-category-container{
    margin: 1em;
    font-size: 0.85em;
    width: 25em;
    background-color: var(--navy-blue);
    height: fit-content;
}

.key-selection-title {
    border-bottom: 2px solid lightgray;
    text-align: center;
    color: white;
    padding: 0.5em;
}

.key-selection-choices {
    margin-left: 1.65em;
}

.key-name {
    background-color: var(--key-selection-background-color);
    padding: 0.15em;
    border-bottom: 1px solid lightgray;
}

.key-selection-choices a {
    text-decoration: none;
    color: white;
}

.key-selection-choices div:hover {
    filter: brightness(125%);
}

.key-selection-choices a:hover {
    color: rgb(143, 142, 142);
}

.group-title {
    border-bottom: 1px solid rgb(110, 106, 106);
    margin-left: 1.65em;
    color: rgb(110, 106, 106);
    background-color: var(--key-selection-background-color);
    font-size: 1em;
    padding: 0.15em;
}
