:root {
    --nav-item-background: #05386b;
    --page-background: #5cdb95;
    --font: #edf5e1;
}


.navbar-item-container{
    z-index: 1;
}

.dropdown-item {
    color:var(--font);
    background-color: var(--nav-item-background);
    padding: 5px;
    padding-right: 30px;
    z-index: 1;
}

.dropdown-item a {
    height: 100%;
    z-index: 1;

}

.dropdown-hidden {
    height: 0px;
    font-size: 0px !important;
    display: none;
}